[Unit]
Description=Remote OLED display SVXLink info
Wants=network.target network-online.target
After=multi-user.target network.target network-online.target svxlink.service
Requires=svxlink.service
PartOf=svxlink.service

StartLimitInterval=200
StartLimitBurst=100

[Service]
Type=idle
ExecStart=/usr/bin/python3 /opt/fmpoland/remoteoled/remoteoled.py
WorkingDirectory=/opt/fmpoland/remoteoled
User=root
#Nice=-10
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
