[Unit]
Description=Remote OLED display SVXLink info
Wants=network.target
After=network.target svxlink.service
Requires=svxlink.service
PartOf=svxlink.service

StartLimitInterval=200
StartLimitBurst=100

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/fmpoland/remoteoled/remoteoled.py
WorkingDirectory=/opt/fmpoland/remoteoled
User=root
#Nice=-10
LimitCORE=infinity
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
